<style>
    .field_error {
        display: block;
        padding: 2px 5px;
        color: white;
        background-color: #f44336;
    }
</style>

{form templateForm}
    {include jsValidation, form => $form}
    {input id}

    <div role="tabpanel">
        <ul class="tab-nav" role="tablist">
            <li n:class="$editedLocale ? inactive : active">
                <a href="#general" aria-controls="general" role="tab" data-toggle="tab" aria-expanded="true">General</a>
            </li>
            <li n:class="$editedLocale ? controlled">
                <a href="#email" data-url="{plink this editedLocale => $locale}" aria-controls="tab-{$locale}" role="tab" data-toggle="tab" aria-expanded="false">Default content ({$locale})</a>
            </li>
            <li n:foreach="$langs as $lang" class="controlled">
                {if $lang === $editedLocale}
                    <a href="#email" data-url="{plink this editedLocale => $lang}" aria-controls="tab-{$lang}" role="tab" data-toggle="tab" aria-expanded="false">{$lang} content</a>
                {else}
                    <a href="#email" data-url="{plink this editedLocale => $lang}" aria-controls="tab-{$lang}" aria-expanded="false">{$lang} content</a>
                {/if}
            </li>
        </ul>

        <div class="tab-content p-10">
            <div role="tabpanel" class="tab-pane m-t-30 active" id="general">
                <div class="form-group fg-float">
                    <div class="fg-line">
                        {input name, class => 'form-control fg-input'}
                        {label name, class => 'fg-label' /}
                    </div>
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        {input code, class => 'form-control fg-input'}
                        {label code, class => 'fg-label' /}
                    </div>
                    {if $form['code']->hasErrors()}
                        <span class="field_error">{$form['code']->error}</span>
                    {/if}
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        {input description, class => 'form-control fg-input'}
                        {label description, class => 'fg-label' /}
                    </div>
                </div>

                <div class="form-group fg-float">
                    {label mail_type_id /}
                    {input mail_type_id, id => 'mail-type-id', class => 'selectpicker',  data-live-search => 'true', data-live-search-normalize => 'true'}
                </div>

                <div class="form-group fg-float">
                    {label click_tracking /}
                    <i title="Works only if selected mailer supports email tracking." class="zmdi zmdi-info"></i>
                    {input click_tracking, class => 'selectpicker'}
                </div>

            </div>

            <div role="tabpanel" class="tab-pane" id="email">
                <div n:if="$editedLocale && $editedLocale !== $locale && !$mailTemplate->related('mail_template_translations', 'mail_template_id')->where('locale', $editedLocale)->fetch()" class="alert bg palette-Grey-200">
                    <i class="zmdi zmdi-alert-circle-o"></i>
                    <strong>{$lang}</strong> translation doesn't exist yet, default (<strong>{$locale}</strong>) is always used when sending the email
                </div>
                <div n:if="!$editedLocale || $editedLocale === $locale" class="alert bg palette-Grey-200">
                    <i class="zmdi zmdi-alert-circle-o"></i>
                    This content will be sent if <strong>{$locale}</strong> locale is used or another translation is not available.
                </div>
                <div class="form-group js-mail-layouts-templates" data-mail-layouts="{json_encode($layouts)}">
                    {label mail_layout_id /}
                    {input mail_layout_id, class => 'selectpicker',  data-live-search => 'true', data-live-search-normalize => 'true'}
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        {input from, class => 'form-control fg-input'}
                        {label from, class => 'fg-label' /}
                    </div>
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        {input subject, class => 'form-control fg-input'}
                        {label subject, class => 'fg-label' /}
                    </div>
                </div>

                <div class="form-group fg-float">
                    <div class="fg-line">
                        {input mail_body_text, class => 'form-control fg-input auto-size'}
                        {label mail_body_text, class => 'fg-label' /}
                    </div>
                </div>

                <div id="email-editors">
                    <div class="m-b-10 editor-choice-container row">
                        <div class="js-editor-choice col-sm-7">
                            <label class="radio radio-inline m-r-20">
                                <input type="radio" name="js-editor-choice" value="code" {if $templateEditor != 'wysiwyg'}checked="checked"{/if} class="js-editor-choice">
                                <i class="input-helper"></i>
                                HTML Code View
                            </label>
                            <label class="radio radio-inline m-r-20" style="margin-left: 0;">
                                <input type="radio" name="js-editor-choice" value="editor" {if $templateEditor == 'wysiwyg'}checked="checked"{/if} class="js-editor-choice">
                                <i class="input-helper"></i>
                                Editor View (WYSIWYG)
                            </label>
                        </div>
                        <div class="col-sm-5 fullscreen-edit-btn-div">
                            <button id="fullscreen-edit-btn" type="button" class="btn palette-Cyan bg"><i class="zmdi zmdi-fullscreen"></i> <span>Fullscreen edit</span></button>
                        </div>
                    </div>

                    {input mail_body_html, class => 'form-control js-mail-body-html-input js-html-editor', data-snippets => json_encode($snippets) }
                    <div class="js-codemirror"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="fg-line">
            {input save, class => 'btn btn-info waves-effect'}
            {input save_close, class => 'btn btn-info waves-effect'}
        </div>
    </div>
{/form}


{define jsValidation}
    <script>
         Nette.validators.RempMailerModuleFormsRulesFormRules_validateAdvancedEmail = function (element, args, value) {
             const regexp = /^(.+) +<(.*)>$/i;
             const email = value.match(regexp);
             if (email !== null) {
                 value = email[2];
             }
             return Nette.validateRule(element, ':email', args, { 'value': value });
         };
    </script>
    <script n:if="$form->getErrors()">
        $(function() {
            let index = 0;
            {foreach $form->getErrors() as $error}
            index += 250;
            window.setTimeout(function() {
                $.notify({
                    message: {$error}
                }, {
                    allow_dismiss: false,
                    type: 'danger'
                });
            }, index);
            {/foreach}
        });
    </script>
{/define}

<script>
    let lists = {$lists};

    $('#mail-type-id').on('changed.bs.select', function (e) {
        let selectedTypeId = $(e.target).val();
        let fromInput = $('input[name="from"]');

        fromInput.val(lists[selectedTypeId].mail_from);
    });

    let form = $("#" + {$control['templateForm']->getElementPrototype()->getId()});
    let formChanged = false;
    form.change(function() {
      formChanged = true;
    });
</script>
