{layout '../@layout.latte'}

{block #title}
    Emails
{/block}

{block #content}

<div class="card">
    <div class="card-header">
        <h2>Email templates</h2>
        <div class="actions">
            <a n:href="Template:new" class="btn palette-Cyan bg waves-effect">Add new email</a>
        </div>
    </div>
    {control dataTableDefault}
</div>
