{layout '../@layout.latte'}

{block #content}

<div class="c-header">
    <h2>Jobs</h2>
</div>
<div class="card">
    <div class="card-header">
        <h2>Add new job <small></small></h2>
    </div>
    <div class="card-body card-padding">
        {snippetArea wrapper}
        {include '@form.latte'}
        {/snippetArea}
    </div>
</div>