{block #content}

<div class="c-header">
    <h2>Settings</h2>
</div>
<div class="card">
    <div class="card-header">
        <h2>Settings <small></small></h2>
    </div>
    <div class="card-body card-padding">
        {include '@form.latte'}
    </div>
</div>