{define previewCallback}
    <script type="text/javascript">
        $('[aria-controls="mms-preview"]').on('shown.bs.tab', function () {
            $.nette.ajax({
                type: 'POST',
                url: {link mmsPreview!},
                data: {
                    'html_content': {$htmlContent},
                    'text_content': {$textContent},
                    'locked_html_content': {$lockedHtmlContent},
                    'locked_text_content': {$lockedTextContent},
                    'name': $('#' + {$control["mMSTemplateForm"]['name']->htmlId}).val(),
                    'mail_layout_id': $('#' + {$control["mMSTemplateForm"]['mail_layout_id']->htmlId}).val(),
                    'locked_mail_layout_id': $('#' + {$control["mMSTemplateForm"]['locked_mail_layout_id']->htmlId}).val(),
                    'mail_type_id': $('#' + {$control["mMSTemplateForm"]['mail_type_id']->htmlId}).val(),
                    'from': $('#' + {$control["mMSTemplateForm"]['from']->htmlId}).val(),
                    'subject': $('#' + {$control["mMSTemplateForm"]['subject']->htmlId}).val(),
                    'article_id': $('#' + {$control["mMSTemplateForm"]['article_id']->htmlId}).val()
                },
                success: function(data) {
                    previewFrame('#mms-preview-full-frame', data['generatedHtml']);
                    previewFrame('#mms-preview-locked-frame', data['generatedLockedHtml']);
                }
            });
        });

        function previewFrame(id, html) {
            var iframe = $(id);
            var idoc = iframe[0].contentDocument;
            idoc.open();
            idoc.write(html);
            idoc.close();
        }
    </script>
{/define}

<div class="card">
    <div class="card-header">
        <h2>Odkaz MMS details<small></small></h2>
    </div>
    <div class="card-body card-padding">
        <div role="tabpanel">
            <ul class="tab-nav" role="tablist">
                <li role="tab" class="active"><a href="#mms-form" aria-controls="mms-form" role="tab" data-toggle="tab">Emails info</a></li>
                <li role="tab"><a href="#mms-preview" aria-controls="mms-preview" roleclose ="tab" data-toggle="tab">Final previews</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="mms-form">

                    {form mMSTemplateForm, class => form-horizontal}

                        <div class="col-sm-6">
                            <div class="form-group fg-float m-b-30">
                                <div class="fg-line">
                                    {input name, class => 'form-control fg-input'}
                                    {label name, class => 'fg-label' /}
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30">
                                <div class="fg-line">
                                    {input code, class => 'form-control fg-input'}
                                    {label code, class => 'fg-label' /}
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30">
                                {label mail_layout_id /}
                                {input mail_layout_id, class => 'form-control selectpicker', data-live-search => 'true'}
                            </div>

                            <div class="form-group fg-float m-b-30">
                                {label locked_mail_layout_id /}
                                {input locked_mail_layout_id, class => 'form-control selectpicker', data-live-search => 'true'}
                            </div>

                            <div class="form-group fg-float m-b-30">
                                {label mail_type_id /}
                                {input mail_type_id, class => 'form-control selectpicker', data-live-search => 'true'}
                            </div>

                            <div class="form-group fg-float m-b-30">
                                <div class="fg-line">
                                    {input from, class => 'form-control fg-input', value => $from}
                                    {label from, class => 'fg-label' /}
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30">
                                <div class="fg-line">
                                    {input subject, class => 'form-control fg-input', value => $mmsTitle}
                                    {label subject, class => 'fg-label' /}
                                </div>
                            </div>

                            <div class="form-group fg-float m-b-30">
                                {input generate_emails_jobs_created, class => 'btn palette-Cyan bg waves-effect'}
                                
                                {if isset($form['generate_emails_jobs'])}
                                    {input generate_emails_jobs, class => 'btn palette-Cyan bg waves-effect'}
                                {/if}
                            </div>
                        </div>

                        <div class="row">
                            {input html_content, value => $htmlContent}
                            {input text_content, value => $textContent}
                            {input locked_html_content, value => $lockedHtmlContent}
                            {input locked_text_content, value => $lockedTextContent}
                            {input article_id, value => $articleId}
                        </div>
                    {/form}
                </div>

                <div role="tabpanel" class="tab-pane" id="mms-preview">
                    {snippet mmsPreviewWrapper}
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <h4>For subscribers - mobile preview
                                    <a target="_blank" style="font-size: 12px" href="{plink MailGenerator:preview false}"><i class="zmdi zmdi-arrow-right-top zmdi-hc-fw"></i> Full-screen preview</a>
                                </h4>
                                <iframe id="mms-preview-full-frame" frameBorder="0" style="max-width: 576px; width:100%; height: 500px; border:1px solid #ddd; margin-top:2em"></iframe>
                            </div>

                            <div class="col-md-6 text-center">
                                <h4>For non-subscribers - mobile preview
                                    <a target="_blank" style="font-size: 12px" href="{plink MailGenerator:preview true}"><i class="zmdi zmdi-arrow-right-top zmdi-hc-fw"></i> Full-screen preview</a>
                                </h4>
                                <iframe id="mms-preview-locked-frame" frameBorder="0" style="max-width: 576px; width:100%; height: 500px; border:1px solid #ddd; margin-top:2em"></iframe>
                            </div>
                        </div>
                    {/snippet}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body card-padding">
        <h4>
            HTML content of email for non-subscribers
            <a href="#" class="btn palette-Cyan bg waves-effect btn-sm" onclick="clipboard.copy($('#generatedhtmlcontent-nonsubscribers').text()); $.notify('Copied to clipboard', { allow_dismiss: false, delay:1000, type: 'inverse', placement : { from: 'bottom', align: 'right'}}); return false;"><i class="zmdi zmdi-copy"></i></a>
        </h4>
        <pre id="generatedhtmlcontent-nonsubscribers">{$lockedHtmlContent}</pre>
    </div>
</div>

{include previewCallback}