$primaryColor: #00acc1;
$primaryColorDark: #007c91;
$primaryColorLight: #5ddef4;
$highlightColor: #4caf50;

$typeahead-font-size: 1.5rem;
$typeahead-line-height: 1.5em;

@import "~jquery-typeahead/src/jquery.typeahead";
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
@import "~google-material-color/dist/palette";
@import "~nouislider/distribute/nouislider.min.css";

@import "~@remp/js-commons/sass/template.scss";
@import "~@remp/js-commons/sass/remp.scss";
@import "~@remp/js-commons/sass/accordion.scss";
@import "~@remp/js-commons/sass/site-search.scss";

@import "banner";
@import "template";
@import "farbtastic";

.navbar-default {
    border-radius: 0px;
}

.navbar-brand {
    @media (max-width: 799px) {
        position: absolute;
        right: 0px;
        top: 8px;
        z-index: 12;
    }
}

.navbar-nav .dropdown {
    z-index: 11;
    margin-top: 4px;
    margin-left: 2px;
}

.remp-menu .svg-logo {
    @media (max-width: 799px) {
        width: 100px;
    }
}

.display-on-computer{
    @media (max-width: 799px) {
        display: none;
    }
}
  
.display-on-phone {
    @media (min-width: 799px) {
        display: none;
    
    }
}

@media (max-width: 1199px) {
    #header {
        padding-top: 0px;
    }

    #s-main-menu {
        padding-top: 20px;
    }

    #s-main-menu form {
        padding-bottom: 16px;
    }
}
