{layout '../@layout.latte'}

{block #content}

<div class="c-header">
    <h2>Error</h2>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-4">
                <h2 n:block="title">400 Bad Request
                    <small>
                        Your browser sent a request that this server could not understand or process.
                    </small>
                </h2>
            </div>
        </div>
    </div>
</div>
