$primaryColor: Cyan;
$grey: Grey;
$white: White;

@import "~bootstrap-select/dist/css/bootstrap-select.min.css";
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
@import "~@remp/js-commons/sass/template.scss";
@import "~@remp/js-commons/sass/remp.scss";
@import "~google-material-color/dist/palette";

@import "~@remp/js-commons/sass/site-search.scss";

.pg-item {
  &.green:nth-child(odd) {
    background-color: transparentize(#75a478, .90);
  }
  &.green:nth-child(2n) {
    background-color: transparentize(#75a478, .85);
  }
  &.red:nth-child(odd) {
    background-color: transparentize(#ba6b6c, .90);
  }
  &.red:nth-child(2n) {
    background-color: transparentize(#ba6b6c, .85);
  }
}

.fg-input:invalid {
  border-color: #f00;
}

.application-status-widget {
  display: inline-block;
  color: #333;
  height: 60px;
  line-height: 35px;
  margin-left: 5px;
}

.cw-upcoming {
  a {
    color: palette($grey, 50);
    &:hover {
      color: palette($white);
    }
  }
}
.cwu-forecast {
  a, a:hover {
    color: black;
    padding: 0.2em;
  }
}

.CodeMirror {
  margin-top: 1.5rem;
  height: 100%;
}

.m-tbl-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin-left: 15px !important;
}

.m-tbr-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin-right: 15px !important;
}

.editor-choice-container {
  display: flex;
  align-items: center;
}

.fullscreen-edit-btn-div {
  text-align: right;

  @media (max-width: 992px) {
    display: none;
  }
}

.fullscreen-edit {
  @at-root body#{&} {
    height: 100vh;
    overflow: hidden;
  }

  #email-editors, #previewFrameWrap {
    position: fixed;
    top: 0;
    width: 50%;
    margin: 0;
    padding: 0;
    z-index: 99999;
    background: white;
  }

  #email-editors {
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }

  #previewFrameWrap {
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    height: 100vh !important;
    overflow: auto !important;
  }

  .editor-choice-container {
    margin: 10px;
  }

  .trumbowyg-box {
    border: none !important;
  }

  .trumbowyg-editor {
    height: calc(100vh - var(--trumbowyg-header-height) - var(--editor-choice-height)) !important;
    overflow: auto !important;
  }

  .CodeMirror-scroll {
    height: calc(100vh - var(--editor-choice-height)) !important;
  }
}

.tab-nav li.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.fg-line:not([class*=has-]):after {
  background: none;
}
