# Environment name. If set to "local", all debug options are enabled by framework automatically.
ENV=local

# Application locale affecting formatting settings of viewed data.
LOCALE=en

# Default timezone.
TIMEZONE="Europe/Bratislava"

#####################
## SQL database connection details. MySQL (and derivates) are supported and tested.

# Database adapter implementation to be used.
# - default set to "mysql", keep without change unless you want to use your own implementation
DB_ADAPTER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_NAME=remp_test
DB_USER=root
DB_PASS=secret

#####################
## Redis connection details

# Redis host (e.g. localhost, IP address or any resolvable host of your redis server instance).
REDIS_HOST=redis

# Redis connection port. 6379 is the default port used by Redis installation.
REDIS_PORT=6379

# Default redis DB
REDIS_DB=0
