$primaryColor: #00acc1 !default;
$primaryColorDark: #007c91 !default;
$primaryColorLight: #5ddef4 !default;
$highlightColor: #4caf50 !default;

a {
    color: $primaryColorDark;
    &:hover, &:focus {
        color: darken($primaryColorDark, 20%);
    }
}

#header {
    padding: 20px 45px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
}

.remp-menu .svg-logo {
    background: url("../img/logo_dark.svg") no-repeat;
    background-size: 90px;
    height: 40px;
    width: 230px;
}

.navbar-default {
    background: #FFFFFF none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #4c4c4c;
    background-image: none;
    box-shadow: none;
}

.navbar-brand {
    padding: 14px 0 5px 30px;
}

.nav.navbar-remp {
    padding-top: 9px;
    text-transform: lowercase;
}

.nav > li {
    font-size: 15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #4c4c4c;
}

#s-user-alerts {
    background: #f0f0f0;
}

@media (min-width: 1280px) {
    #s-main-menu {
        top: 120px;
    }
}

.h-search {
    padding: 5px 0 15px;
}

.hm-profile > a img {
    border-color: #00acc1;
}

.nav .zmdi {
    font-size: 20px;
    vertical-align: sub;
}

.label-muted {
    color: #959595;
    margin-bottom: 5px;
}

[data-columns]::before {
    display:block;
    visibility:hidden;
    position:absolute;
    font-size:1px;
}

.toggle-switch .ts-label {
    min-width: 150px;
    cursor: pointer;
}

.pg-item:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.01);
}

.form-control {
    height: 31px;
}
.form-control:not(.fc-alt).auto-size {
    max-height: 600px;
}

.tab-nav li button {
    margin-top: 15px;
    margin-left: 10px;
}

.card-body .input-group:not(:first-child) {
    margin-top: 30px;
}
.card-body .input-group:not(:first-child).v-select {
    margin-top: 15px;
}

.dropdown-menu .divider {
    margin: 3px 0;
}

.dropdown-header {
    padding: 5px 16px 0px;
}

.table  > tbody > tr > td, .table > tbody > tr > th {
    vertical-align: middle;
}
.table  > tbody > tr > td > .btn, .table > tbody > tr > th > .btn {
    text-transform: capitalize;
}
.table  > tbody > tr > td > span.actions {
    white-space: nowrap;
}
.table  > tbody > tr > td > span.actions > form {
    display: inherit;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 12px;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border: none;
}

.well {
    background-image: none;
}

/***************/
/* Z-INDEX FIX */
/***************/
.bootstrap-datetimepicker-widget,
.bootstrap-select .dropdown-menu.open
{
    z-index: 3000;
}

/***************/
/* DATA TABLES */
/***************/
.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 85px;
    left: 42%;
    z-index: 200;
}

.dataTables_wrapper .dataTable {
    .group {
        cursor: default;
        font-weight: 700;
        background: rgba(0, 188, 212, .10);
    }

    tbody tr {
        $rowBackground: #fff;
        border-left: 12px solid transparent;

        &.odd {
            background-color: $rowBackground;
        }
        &.even {
            background-color: darken($rowBackground, 5%);
        }

        &.highlight {
            border-color: $highlightColor;
        }
    }
}

tr th.sorting:hover,
tr th.sorting_asc:hover,
tr th.sorting_desc:hover {
    cursor: pointer;
    color: #000;
}

tr th.sorting_asc:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fe';
    padding: 5px;
}

tr th.sorting_asc:hover:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f303';
    padding: 5px;
}

tr th.sorting:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fe';
    padding: 5px;
    color: #999;
}
tr th.sorting:hover:before {
    color: #000;
}

tr th.sorting_desc:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f303';
    padding: 5px;
}

tr th.sorting_desc:hover:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fe';
    padding: 5px;
}

.ah-search {
    width: 70%;
}

.dataTable tr th .bootstrap-select {
    text-transform: none;
}

.table-responsive {
    overflow-x: initial;
}
