/node_modules
/public/storage
/public/hot
/public/vendor/campaign
/public/assets/lib
/extensions/campaign-module/public/assets/vendor
/extensions/campaign-module/public/assets/showtime
/extensions/campaign-module/public/assets/lib
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
adminer*
yarn-error.log
npm-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/config/services.remp.php
/config/search.php
/config/banners.php
/config/banners.local.php
/config/newsletter_banners.php
/config/system.php
/database/schema/mysql-schema.sql
