/node_modules
/public/storage
/public/hot
/public/assets/vendor
/public/assets/showtime
/public/assets/lib
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
adminer*
yarn-error.log
npm-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
