includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - extensions/campaign-module/
    level: 3
    databaseMigrationsPath:
        - database/migrations/
        - extensions/campaign-module/database/migrations/
    configDirectories:
        - config/
        - extensions/campaign-module/config/
    excludePaths:
    ignoreErrors:
        -
            message: "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.#"
            path: extensions/campaign-module/public/showtime.php