{block #content}

<div class="c-header">
    <h2 n:block="title">404 Page Not Found</h2>
</div>

<div class="card">
    <div class="card-body card-padding">
        The page you requested could not be found. It is possible that the address is
        incorrect, or that the page no longer exists. Please use a search engine to find
        what you are looking for.
    </div>
</div>