{block #content}

<div class="c-header">
    <h2 n:block="title">400 Bad Request</h2>
</div>

<div class="card">
    <div class="card-body card-padding">
        Your browser sent a request that this server could not understand or process.
    </div>
</div>