app/config/config.local.neon
.env
.phpcs.cache
.phpunit.result.cache
tests/.env_test
vendor/
www/assets/
node_modules
yarn-error.log
mix-manifest.json
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
