includes:
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon

parameters:
	scanDirectories:
		- app
		- extensions

	level: 2
