<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" colors="true" executionOrder="random" failOnWarning="true" failOnRisky="true" failOnEmptyTestSuite="true" beStrictAboutOutputDuringTests="true" bootstrap="tests/init.php" cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="On"/>
  </php>
  <!-- to generate the coverage use "coverage-html=coverage" option when calling phpunit -->
  <testsuites>
    <testsuite name="All">
      <directory suffix="Test.php">extensions/mailer-module/src/Tests/</directory>
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">app/</directory>
      <directory suffix=".php">extensions/mailer-module/src/</directory>
    </include>
  </source>
</phpunit>
