$primaryColor: #00acc1;
$primaryColorDark: #007c91;
$primaryColorLight: #5ddef4;

@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
@import "~remp/sass/template.scss";
@import "~remp/sass/remp.scss";

.pg-item {
  &.green:nth-child(odd) {
    background-color: transparentize(#75a478, .90);
  }
  &.green:nth-child(2n) {
    background-color: transparentize(#75a478, .85);
  }
  &.red:nth-child(odd) {
    background-color: transparentize(#ba6b6c, .90);
  }
  &.red:nth-child(2n) {
    background-color: transparentize(#ba6b6c, .85);
  }
}
