/*
    specific for jobs show template
*/
@media(max-width: 1770px) {
  .job-batch-card .card-header > .actions {
    position: relative;
    margin-left: 5px;
  }

  .job-batch-card .card-header > .actions .btn {
    margin-bottom: 5px;
  }
}
