# Should be loaded from Bootstrap class as first configuration.file
parameters:
	locale: @environmentConfig::get('LOCALE')
	timezone: @environmentConfig::get('TIMEZONE')
	sso_addr: @environmentConfig::get('SSO_ADDR')
	sso_error_url: @environmentConfig::get('SSO_ERROR_URL')
	max_result_count: @environmentConfig::getInt('SEARCH_MAX_RESULT_COUNT')
	redis:
		host: @environmentConfig::get('REDIS_HOST')
		port: @environmentConfig::getInt('REDIS_PORT')
		db: @environmentConfig::getInt('REDIS_DB')
		password: @environmentConfig::get('REDIS_PASSWORD')
	remp:
		beam:
			web_addr: @environmentConfig::get('REMP_BEAM_ADDR')
			token: @environmentConfig::get('REMP_BEAM_API_TOKEN')
			tracker_addr: @environmentConfig::get('REMP_BEAM_TRACKER_ADDR')
			tracker_property_token: @environmentConfig::get('REMP_BEAM_TRACKER_PROPERTY_TOKEN')
			segments_addr: @environmentConfig::get('REMP_BEAM_SEGMENTS_ADDR')
		pythia:
			segments_addr: @environmentConfig::get('REMP_PYTHIA_SEGMENTS_ADDR')
		campaign:
			web_addr: @environmentConfig::get('REMP_CAMPAIGN_ADDR')
	preflight:
		headers:
			Access-Control-Allow-Headers:
				- Authorization
				- X-Requested-With
				- Content-Type
	template_editor: @environmentConfig::get('TEMPLATE_EDITOR')

extensions:
	local_configs: Remp\MailerModule\Models\Config\ConfigExtension
	webpack: Contributte\Webpack\DI\WebpackExtension(true)
	mailer: Remp\MailerModule\DI\MailerModuleExtension

webpack:
	devServer:
		enabled: false
	build:
		directory: %wwwDir%/assets/vendor
		publicPath: assets/vendor/
	manifest:
		name: mix-manifest.json

application:
	errorPresenter: Mailer:Error
	mapping:
		Api: Tomaj\NetteApi\Presenters\*Presenter
		*: Remp\*Module\Presenters\*Presenter

session:
	expiration: 14 days
	autoStart: smart

database:
	default:
		dsn: @environmentConfig::getDsn()
		user: @environmentConfig::get('DB_USER')
		password: @environmentConfig::get('DB_PASS')
		options:
			lazy: yes

latte:
    extensions:
        - Remp\MailerModule\Latte\MailerModuleExtension