$primaryColor: #00acc1;
$primaryColorDark: #007c91;
$primaryColorLight: #5ddef4;

@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
@import "~remp/sass/template.scss";
@import "~remp/sass/remp.scss";
