#header {
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
}

#s-user-alerts {
    background: #f0f0f0;
}

.label-muted {
    color: #959595;
    margin-bottom: 5px;
}

[data-columns]::before {
    display:block;
    visibility:hidden;
    position:absolute;
    font-size:1px;
}

.toggle-switch .ts-label {
    min-width: 150px;
    cursor: pointer;
}

.pg-item:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.01);
}

/*******************/
/* DATETIME PICKER */
/*******************/
.bootstrap-datetimepicker-widget {
    z-index: 10000;
}

/***************/
/* DATA TABLES */
/***************/
.table-hover tbody tr {
    cursor: pointer;
}

tr th.sorting:hover,
tr th.sorting_asc:hover,
tr th.sorting_desc:hover {
    cursor: pointer;
    color: #000;
}

tr th.sorting_asc:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fe';
    padding: 5px;
}

tr th.sorting_asc:hover:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f303';
    padding: 5px;
}

tr th.sorting:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fe';
    padding: 5px;
    color: #999;
}
tr th.sorting:hover:before {
    color: #000;
}

tr th.sorting_desc:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f303';
    padding: 5px;
}

tr th.sorting_desc:hover:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fe';
    padding: 5px;
}