{layout '../@layout.latte'}

{block #content}

<div class="c-header">
    <h2>Generators</h2>
</div>
<div class="card">
    <div class="card-header">
        <h2 n:block="title">Generator templates</h2>
        <div class="actions">
            <a n:href="new" class="btn palette-Cyan bg waves-effect">Add new generator template</a>
        </div>
    </div>
    {control dataTableDefault}
</div>
