{layout '../@layout.latte'}

{block #content}

<div class="c-header">
    <h2>Generators</h2>
</div>
<div class="card">
    <div class="card-header">
        <h2 n:block="title">Add new generator template <small></small></h2>
    </div>
    <div class="card-body card-padding">
        {include '@form.latte'}
    </div>
</div>
