<!-- core/group -->
<div style="{% if group_grey %}padding: 24px 16px 1px 16px; background-color: #F4F4F4; margin-bottom: 24px;{% else %}border-bottom: 1px solid #E2E2E2;{% endif %}">
    {{ contents|raw }}
</div>
<!-- end core/group -->
