<!-- core/list -->
<table style="border-spacing:0;border-collapse:collapse;vertical-align:top;color:#181818;padding:0;margin:0;line-height:1.3;text-align:left;font-family:Georgia, Times New Roman, serif;width:100%;margin-top: 10px;"><tbody>
    {{ contents|raw }}
</tbody></table>
<!-- end core/list -->
