<!-- core/image -->
<img src="{{ url }}" border="0" style="width: 100%; display: block;"
    {% if alt %}alt="{{ alt }}"{% endif %}
    {% if caption %}title="{{ caption }}"{% endif %}
>
{% if caption %}<div style="color: #888;font-family: Arial,sans-serif;font-size: 14px;margin-top:5px;line-height: 1.3;">{{ caption }}</div>{% endif %}
<!-- end core/image -->
