<!-- core/paragraph -->
<p style="font-family: Georgia, Times New Roman, serif; margin: 0; line-height: 1.5;{% if isInMinute %}margin-bottom: 16px;{% endif %} font-size: {% if fontSize %}{{ fontSize }}{% else %}18px{% endif %}">
    {{ content|raw }}
</p>
<!-- end core/paragraph -->
