<!-- core/group -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" {% if group_grey %}bgcolor="#F4F4F4" style="margin-bottom: 24px;"{% endif %} class="group">
    <tr>
        <td align="left" valign="top" width="100%" {% if group_grey %}style="padding-top: 24px; padding-left: 16px; padding-right: 16px;padding-bottom: 24px;"{% endif %}>
            {{ contents|raw }}
        </td>
    </tr>
</table>
{% if not group_grey %}
<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:collapse;vertical-align:top;color:#181818;padding:0;margin:0;Margin:0;line-height:1.3;text-align:left;font-family:'Helvetica Neue', Helvetica, Arial;width:100%;min-width:100%;">
    <tr style="padding:0;vertical-align:top;text-align:left;width:100%;min-width:100%;">
        <td style="padding:0;vertical-align:top;text-align:left;font-size:18px;line-height:1.6;border-collapse:collapse !important; padding: 16px 0 0 0; border-top:1px solid #E2E2E2;height:0;line-height: 0;width:100%;min-width:100%;">&#xA0;</td>
    </tr>
</table>
{% endif %}
<!-- end core/group -->
