<!-- core/list-item -->
<tr style="padding:0;vertical-align:top;text-align:left;">
    <td class="bullet" style="padding:0;vertical-align:top;text-align:left;font-size:18px;line-height:1.6;width:30px;border-collapse:collapse !important;">&#8226;</td>
    <td style="padding:0;vertical-align:top;text-align:left;font-size:18px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;border-collapse:collapse !important;">
        <p style="color:#181818;padding:0;margin:0 0 10px 0;font-size:18px;line-height:160%;text-align:left;font-weight:normal;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;border-collapse:collapse !important;">
            {{ content|raw }}
        </p>
    </td>
</tr>
<!-- end core/list-item -->
