<!-- core/list-item -->
<li style="font-family:Georgia, Times New Roman, serif;padding: 0;margin: 0;font-size:18px;word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;margin-bottom:10px;">{{ content|raw }}</li>
<!-- end core/list-item -->
