<!-- dn-newsletter/r5m-minute -->
{% if not isFirstDNMinuteInGroup %}
<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border-spacing:0;border-collapse:collapse;vertical-align:top;color:#181818;padding:0;margin:0;Margin:0;line-height:1.3;text-align:left;font-family:'Helvetica Neue', Helvetica, Arial;width:100%;min-width:100%;" class="dn-newsletter-minute">
    <tr style="padding:0;vertical-align:top;text-align:left;width:100%;min-width:100%;">
        <td style="padding:0;vertical-align:top;text-align:left;font-size:18px;line-height:1.6;border-collapse:collapse !important; padding: 16px 0 0 0; border-top:1px solid #E2E2E2;height:0;line-height: 0;width:100%;min-width:100%;">&#xA0;</td>
    </tr>
</table>
{% endif %}

{% if minuteOrderCounter %}<div style="color: #BF2134;font-family: Georgia, Times New Roman, serif;font-size:24px;margin: 0; padding: 0; line-height: 1.5;margin-bottom: 4px;font-weight: normal;">{{ minuteOrderCounter }}.</div>{% endif %}

{{ contents|raw }}
<!-- end dn-newsletter/r5m-minute -->
