/node_modules
/public/storage
/public/hot
/public/assets/vendor
/public/assets/lib
/public/assets/iota
/public/mix-manifest.json
/public/vendor/
/public/lib/
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
adminer*
google_service_account_key.json
.phpunit.result.cache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log
/config/beam.php
/config/services.remp.php
/config/system.php
/database/schema/mysql-schema.sql