/node_modules
/public/storage
/public/hot
/public/assets/vendor
/public/assets/lib
/public/assets/iota
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
adminer*