[mysqld]
default-authentication-plugin=caching_sha2_password
sort_buffer_size=393216 # same as in production

# Settings to speed up DB import. They're not enabled by default because the system would behave differently
# than in the production environment.

#innodb_buffer_pool_size = 8G
#innodb_log_buffer_size = 256M
#innodb_log_file_size = 4G
#innodb_write_io_threads = 16
#innodb_flush_log_at_trx_commit = 0
#innodb_doublewrite = 0
#innodb_flush_method = O_DIRECT