parameters:
    sso_host: @environmentConfig::get('SSO_BASE_URL')
    sso_error_url: @environmentConfig::get('SSO_ERROR_URL')
    errbit:
        send_errors: false

extensions:
    local_configs: Remp\MailerModule\Config\ConfigExtension

application:
	errorPresenter: Mailer:Error
	mapping:
		*: Remp\*Module\Presenters\*Presenter

session:
	expiration: 14 days

database:
    default:
        dsn: @environmentConfig::getDsn()
        user: @environmentConfig::get('DB_USER')
        password: @environmentConfig::get('DB_PASS')
        options:
            lazy: yes

services:
	router: Remp\RouterFactory::createRouter
	environmentConfig: Remp\MailerModule\EnvironmentConfig

	console:
	    class: Symfony\Component\Console\Application
	    setup:
	        - add(Remp\MailerModule\Commands\HelloWorldCommand())
	        - setCatchExceptions(true)

	- Remp\MailerModule\Sender

	mailFactory:
	    class: Remp\MailerModule\Sender\MailerFactory
	    setup:
	        # Register all Mailers (Nette\Mail\IMailer)
	        - addMailer(Remp\MailerModule\Mailer\SmtpMailer())
	        - addMailer(Remp\MailerModule\Mailer\MailgunMailer())

	- Remp\MailerModule\Auth\Authenticator
	- Remp\MailerModule\Auth\RemoteUser(%sso_host%)
#	- Remp\NetteSso\Security\Client(%sso_host%)
#	- Remp\NetteSso\Security\Authenticator(%sso_error_url%)
#	security.userStorage:
#	    class: Remp\NetteSso\Security\UserStorage

	- Remp\MailerModule\Config\Config

	# Repositories
	- Remp\MailerModule\Repository\ConfigsRepository
	- Remp\MailerModule\Repository\UsersRepository
	- Remp\MailerModule\Repository\LogsRepository('2000-01-01 00:00:00')
	- Remp\MailerModule\Repository\LayoutsRepository
	- Remp\MailerModule\Repository\ListsRepository
	- Remp\MailerModule\Repository\TemplatesRepository

	# Factories
	- Remp\MailerModule\Components\IDataTableFactory
	- Remp\MailerModule\Components\ITemplateStatsFactory

	# Forms
	- Remp\MailerModule\Forms\SignInFormFactory
	- Remp\MailerModule\Forms\ConfigFormFactory
	- Remp\MailerModule\Forms\LayoutFormFactory
	- Remp\MailerModule\Forms\ListFormFactory
	- Remp\MailerModule\Forms\TemplateFormFactory
	- Remp\MailerModule\Forms\TemplateTestFormFactory

	# Commands
	- Remp\MailerModule\Commands\HelloWorldCommand