<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ifset title}{include title|stripHtml} | {/ifset} REMP Mailer</title>

    <!-- Vendor CSS -->
    <link href="/assets/vendor/css/vendor.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/assets/vendor/css/app.css" rel="stylesheet">

    <style>
        .card {
            margin-bottom: 0;
        }
        .c-header {
            display: none;
        }
    </style>
</head>

<body>
<div class="login" data-lbg="teal">
    <!-- Login -->
    <div class="l-block toggled" id="l-login">
        <div class="lb-header palette-Teal bg">
            {block title}{/block}
        </div>

        {include content}
    </div>
</div>

</body>
</html>