{layout '../@layout.latte'}

{block #content}

<div class="c-header">
    <h2 n:block="title">Snippets</h2>
</div>
<div class="card">
    <div class="card-header">
        <h2>List of Snippets <small></small></h2>
        <div class="actions">
            <a n:href="Snippet:new" class="btn palette-Cyan bg waves-effect">Add new snippet</a>
        </div>
    </div>
    {control dataTableDefault}
</div>
