{foreach $job->related('mail_job_batch') as $batch}
    {foreach $batch->related('mail_job_batch_templates')->order('mail_job_batch_templates.weight') as $mailJobTemplate}
        <div><span class="badge m-r-5 palette-Cyan-700 bg">{$batch->status|upper}</span> {$mailJobTemplate->template->name}</div>
    {/foreach}
{/foreach}
