{layout '../@layout.latte'}

{block #content}

<div class="c-header">
    <h2>Job batch</h2>
</div>
<div class="card">
    <div class="card-header">
        <h2>Edit batch <small>#{$batch->id}</small></h2>
    </div>
    <div class="card-body card-padding">
        {include '@form_edit_batch.latte'}
    </div>
</div>