{layout '../@layout.latte'}

{block #content}

<div class="c-header">
    <h2>Emails</h2>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-4">
            <h2 n:block="title">Show email <small>{$mailTemplate->name}</small></h2>
            </div>
        </div>

        <div class="actions">
            <a n:href="Edit $mailTemplate->id">
                <button type="button" class="btn palette-Cyan bg waves-effect"><i class="zmdi zmdi-edit"></i> Edit</button>
            </a>
            <a n:href="Duplicate! $mailTemplate->id">
                <button type="button" class="btn palette-Cyan bg waves-effect"><i class="zmdi zmdi-copy"></i> Duplicate</button>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Settings</h2>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Code:</strong> {$mailTemplate->code}</li>
                    <li class="list-group-item"><strong>From:</strong> {$mailTemplate->from}</li>
                    <li class="list-group-item"><strong>Subject:</strong> {$mailTemplate->subject}</li>
                    <li class="list-group-item"><strong>Layout:</strong> <a n:href="Layout:Edit $mailTemplate->mail_layout_id">{$mailTemplate->mail_layout->name}</a></li>
                    <li class="list-group-item"><strong>List:</strong> <a n:href="List:Show $mailTemplate->mail_type_id">{$mailTemplate->mail_type->title}</a></li>
                    <li class="list-group-item"><strong>Created:</strong> {$mailTemplate->created_at}</li>
                    <li class="list-group-item"><strong>Updated:</strong> {$mailTemplate->updated_at}</li>
                    <li class="list-group-item" n:if="$mailTemplate->autologin"><strong>Auto Login</strong></li>
                    <li class="list-group-item" n:if="$mailTemplate->description"><strong>Description:</strong> {$mailTemplate->description}</li>
                    <li class="list-group-item" n:if="$mailTemplate->copy_from"><strong>Copy From:</strong> <a n:href="show $mailTemplate->copy_from">{$mailTemplate->ref('copy_from')->name}</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Test Email</h2>
            </div>
            <div class="card-body card-padding">
                {include '@form_template_test.latte'}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2><i class="zmdi zmdi-equalizer"></i> Template summary</h2>
            </div>
            <div class="card-body">
                {control templateStats, $mailTemplate->id}
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <h2><i class="zmdi zmdi-code"></i> Source</h2>
            </div>
            <div class="card-body">
                <ul class="tab-nav tn-justified tn-icon" role="tablist">
                    <li role="presentation" class="active">
                        <a class="col-sx-6" href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab" aria-expanded="true">
                            HTML Preview
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="col-sx-6" href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" aria-expanded="true">
                            Text Version
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="col-xs-6" href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" aria-expanded="true">
                            HTML Version
                        </a>
                    </li>
                </ul>

                <div class="tab-content p-0">
                    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab-1">
                        <div id="mail-preview">
                            <iframe src="{plink Preview $mailTemplate->id, type => 'html'}" style="width: 100%; border: none; min-height: 700px;"></iframe>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-2">
                        <pre class="palette-White bg b-0"><code class="nohighlight">{$mailTemplate->mail_body_text}</code></pre>
                    </div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-3">
                        <pre class="palette-White bg b-0"><code class="html">{$mailTemplate->mail_body_html}</code></pre>
                    </div>
                </div>
            </div>
        </div>
        {*<div class="card">*}
            {*<div class="card-header">*}
                {*<h2>Log</h2>*}
            {*</div>*}
            {*<div class="card-body">*}
                {*{control dataTableLogs}*}
            {*</div>*}
        {*</div>*}
    </div>
</div>
